[submodule "pack/plugins/opt/delimitMate"]
	path = pack/plugins/opt/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "pack/plugins/opt/jedi-vim"]
	path = pack/plugins/opt/jedi-vim
	url = git://github.com/davidhalter/jedi-vim
[submodule "pack/plugins/opt/vim-snippets"]
	path = pack/plugins/opt/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "pack/plugins/opt/fcitx.vim"]
	path = pack/plugins/opt/fcitx.vim
	url = git://github.com/lilydjwg/fcitx.vim
[submodule "pack/plugins/opt/molokai"]
	path = pack/plugins/opt/molokai
	url = git://github.com/tomasr/molokai
[submodule "pack/plugins/opt/ultisnips"]
	path = pack/plugins/opt/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "pack/plugins/opt/indentLine"]
	path = pack/plugins/opt/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "pack/plugins/opt/nerdcommenter"]
	path = pack/plugins/opt/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "pack/plugins/opt/vim-surround"]
	path = pack/plugins/opt/vim-surround
	url = git://github.com/tpope/vim-surround
[submodule "pack/plugins/opt/vim-airline"]
	path = pack/plugins/opt/vim-airline
	url = git://github.com/vim-airline/vim-airline
[submodule "pack/plugins/opt/vimcdoc"]
	path = pack/plugins/opt/vimcdoc
	url = https://github.com/yianwillis/vimcdoc.git
[submodule "pack/plugins/opt/vim-go"]
	path = pack/plugins/opt/vim-go
	url = https://github.com/fatih/vim-go
[submodule "pack/plugins/opt/nerdtree"]
	path = pack/plugins/opt/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/plugins/opt/tagbar"]
	path = pack/plugins/opt/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "pack/plugins/opt/unite-outline"]
	path = pack/plugins/opt/unite-outline
	url = https://github.com/Shougo/unite-outline
[submodule "pack/plugins/opt/easy-align"]
	path = pack/plugins/opt/easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "pack/plugins/opt/ale"]
	path = pack/plugins/opt/ale
	url = https://github.com/w0rp/ale
[submodule "pack/plugins/opt/vim-gutentags"]
	path = pack/plugins/opt/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule "pack/plugins/opt/gutentags_plus"]
	path = pack/plugins/opt/gutentags_plus
	url = https://github.com/skywind3000/gutentags_plus
[submodule "pack/plugins/opt/LeaderF"]
	path = pack/plugins/opt/LeaderF
	url = https://github.com/Yggdroot/LeaderF
[submodule "pack/plugins/opt/papercolor-theme"]
	path = pack/plugins/opt/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule "pack/plugins/opt/python-syntax"]
	path = pack/plugins/opt/python-syntax
	url = https://github.com/hdima/python-syntax
[submodule "pack/plugins/opt/c-syntax.vim"]
	path = pack/plugins/opt/c-syntax.vim
	url = https://github.com/NLKNguyen/c-syntax.vim
[submodule "pack/plugins/opt/easymotion"]
	path = pack/plugins/opt/easymotion
	url = https://github.com/easymotion/vim-easymotion
