[submodule "pack/plugins/opt/delimitMate"]
	path = pack/plugins/opt/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "pack/plugins/opt/jedi-vim"]
	path = pack/plugins/opt/jedi-vim
	url = git://github.com/davidhalter/jedi-vim
[submodule "pack/plugins/opt/nerdtree"]
	path = pack/plugins/opt/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/plugins/opt/tagbar"]
	path = pack/plugins/opt/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "pack/plugins/opt/vim-snippets"]
	path = pack/plugins/opt/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "pack/plugins/opt/fcitx.vim"]
	path = pack/plugins/opt/fcitx.vim
	url = git://github.com/lilydjwg/fcitx.vim
[submodule "pack/plugins/opt/molokai"]
	path = pack/plugins/opt/molokai
	url = git://github.com/tomasr/molokai
[submodule "pack/plugins/opt/ultisnips"]
	path = pack/plugins/opt/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "pack/plugins/opt/indentLine"]
	path = pack/plugins/opt/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "pack/plugins/opt/nerdcommenter"]
	path = pack/plugins/opt/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "pack/plugins/opt/vim-surround"]
	path = pack/plugins/opt/vim-surround
	url = git://github.com/tpope/vim-surround
[submodule "pack/plugins/opt/vim-airline"]
	path = pack/plugins/opt/vim-airline
	url = git://github.com/vim-airline/vim-airline
[submodule "pack/plugins/opt/vimcdoc"]
	path = pack/plugins/opt/vimcdoc
	url = https://github.com/yianwillis/vimcdoc.git
